<!DOCTYPE html>
<html class="no-js">
<head>
    <meta charset="utf-8" />
    <title>{{ $root.page.title }}</title>
    <meta ng-repeat="meta in $root.page.metas" name="meta.name" content="meta.content">
    <link rel="stylesheet" href="css/styles.css" type="text/css" />
</head>
<body>

<header id="header">
    <div class="inner clearfix">

    </div>
</header>

<section id="content">
    <div ng-view></div>
</section>

<footer id="footer">

</footer>
<div id="fb-root"></div>
<script>

    window.fbAsyncInit = function() {
        FB.init({
            appId      : "150738101641745", // App ID
            status     : true,    // check login status
            cookie     : true,    // enable cookies to allow the
            // server to access the session
            xfbml      : false     // parse page for xfbml or html5
            // social plugins like login button below
        });
        //this way we are sure that facebook API is loaded before loading our app
        angular.bootstrap(document, ['paquettea.facebook.app']);


    };
</script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0-rc.3/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0-rc.3//angular-route.min.js"></script>
<script type="text/javascript" src="js/scripts.js"></script>
<script src="https://connect.facebook.net/en_US/all.js"></script>

</body>
</html>