<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
    <meta charset="utf-8" />

    <title>{% if meta.title %}{{ meta.title }} | {% endif %}{{ site_title }}</title>
    {% if meta.description %}
    <meta name="description" content="{{ meta.description }}">
    {% endif %}{% if meta.robots %}
    <meta name="robots" content="{{ meta.robots }}">
    {% endif %}
    <link rel="stylesheet" href="css/styles.css" type="text/css" />

    <!--<script src="{{ theme_url }}/js/modernizr-2.6.1.min.js"></script>-->
</head>
<body>

<header id="header">
    <div class="inner clearfix">
        <h1><a href="{{ base_url }}">{{ site_title }}</a></h1>
        <ul class="nav">
            {% for page in pages %}
            <li><a href="{{ page.url }}">{{ page.title }}</a></li>
            {% endfor %}
        </ul>
    </div>
</header>

<section id="content">
    <div ng-view></div>
</section>

<footer id="footer">

</footer>
<script src="https://connect.facebook.net/en_US/all.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0-rc.3/angular.min.js"></script>
<script type="text/javascript" src="js/scripts.js"></script>

</body>
</html>